head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title
  style(type='text/css' rel='stylesheet' media='all').
    @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&amp;display=swap");
    body {
      background-color: #FFF;
      color: #333;
      font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    }

    .action {
      cursor: pointer;
    }
  body
    table.email-wrapper(width='100%' cellpadding='0' cellspacing='0' role='presentation' style='width: 100%; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; margin: 0; padding: 0;')
      tr
        h1(style='margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;' align='left') Hi #{userName},

      tr
        td(style='word-break: break-word; font-family: "Nunito Sans", Helvetica, Arial, sans-serif; font-size: 16px;')
          p(style='font-size: 16px; line-height: 1.625; color: #333; margin: .4em 0 1.1875em;')
          | Your password has been changed successfully.

          br

          p(style='font-size: 16px; line-height: 1.625; color: #333; margin: .4em 0 1.1875em;')
          | Thanks,
          br
          | The iFragen Team
